/* 1. Importamos temas visuales */
@import 'chessground/assets/chessground.base.css';
@import 'chessground/assets/chessground.brown.css';
@import 'chessground/assets/chessground.cburnett.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Reset básico para eliminar márgenes y scroll */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Adiós scrollbars */
  @apply bg-chess-bg text-chess-white font-sans;
}

/* 4. Título responsivo */
h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 300;
  opacity: 0.8;
}

/* 5. EL TABLERO RESPONSIVE */
.board-wrapper {
  /* MAGIA AQUÍ: 
       'vmin' coge la dimensión más pequeña de la pantalla.
       Si la pantalla es ancha (PC), se basa en la altura.
       Si es alta (móvil), se basa en la anchura.
       Restamos un poco (80vmin) para dejar margen.
    */
  width: 80vmin;
  height: 80vmin;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background: #161512;
  /* Fondo de seguridad mientras carga */
}

/* Para que Chessground ocupe el 100% de su contenedor padre */
.cg-wrap {
  width: 100%;
  height: 100%;
}